
       div#container {
           width: 800px;            
           margin-left: auto;
           margin-right: auto;
       }
       header {
           height:170px;
           background-color: lightblue;
           background-image:url("/images/top.jpg");
           background-size: 100% 90px;
       }
       footer {
           height: 100px;
           background-color: pink;
           clear:both;
       }
       nav#side-menu {
           height: 560px;
           width:25%;    
           background-color: yellowgreen;
           float: left;            
       }
       
       span#slide {
           font-size: 2em; /* 2배/200% */
           font-weight: bold;
           position: absolute;  /* 자신을 포함하는 부모영역안에서 위치가 고정이 된다. */
           left: 30px;
           top: 10px;
           cursor: pointer;    /* 마우스커서를 포인트모양으로 변경. */
           z-index: 10;    /* 화면이 겹치는 경우에 표시하는 우선순위를 주는 것(높을수록 앞에 표시) */
       }
       nav#slide-menu {
           background-color: yellow;
           width: 330px;
           height: 100%;
           position: absolute;
           top: 0px;
           left: -330px;   /* 화면상에서 메뉴가 보이지 않도록 width만큼 -처리를 함. */
           padding: 100px 0 80px 0;    /* 위, 오른쪽, 아래, 왼쪽 순서. */

           transition: transform 0.5s;
           z-index: 9;
       }
       div#curtain {
           position: absolute;
           left:0;
           top:0;
           width: 100%;
           height: 100%;
           padding: 0;
           margin: 0;

           background-color: gray;
           opacity: 0;   /* 투명도 */
           z-index: -8;
       }
       div#join {
       	text-align: right;
       	padding-right: 10px;
       	float: right;
       }
       a {
       	text-decoration: none;
       }
       div#join > a {
       	margin-right: 10px;
       }
       a:hover {
       	color: lime;
       }
       a:active {
		color: red;
	}
	nav#header-menu {
		background-color: aliceblue;
		width: 760px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		padding-top: 1px;
		padding-bottom: 1px;
		border-radius: 10px;
		clear: both;
	}
	nav#header-menu ul{
		width: 500px;
		margin-left: auto;
		margin-right: auto;
	}
	nav#header-menu li{
		display: inline-block;
		margin-left: 20px;
		margin-right: 20px;
		/*text-align: center;*/
	}
	
	div#messages {
		width: 500px;
		height: 500px;
		border: 1px solid black;
		border-radius: 10px;
		padding: 10px;
		background-color: lightyellow;
	}
	
	div#logo {
		background-color: white;
       	float: left;
       	margin-bottom: 15px;
	}
    section {
        width:72%;
        background-color: gold;
        float:right;
        padding: 10px;
    }        
    nav>img {
    
       height: 100%;
       width:100%;
    }